<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    
    <!-- Single Value Settings -->
    <add key="singleString" value="String Setting Value" />
    <add key="singleInt" value="42" />
    <add key="singleLong" value="9223372036854775806" />
    <add key="singleDouble" value="123.456" />
    <add key="singleGuid" value="{71356C97-3732-45A9-8881-2ADC01D5FFBB}" />
    <add key="singleDateTime" value="1981-05-03 11:27:00am" />
    <add key="singleBool" value="true" />

    <!-- Nullable Single Value Settings -->
    <add key="nullableInt" value="42" />
    <add key="nullableLong" value="9223372036854775806" />
    <add key="nullableDouble" value="123.456" />
    <add key="nullableGuid" value="{71356C97-3732-45A9-8881-2ADC01D5FFBB}" />
    <add key="nullableDateTime" value="1981-05-03 11:27:00am" />
    <add key="nullableBool" value="true" />
    
    <!-- Multi-Value Settings of Same Type -->
    <add key="multiString" value="Apple;Banana;Carrot;Dish Soap" />
    <add key="multiInt" value="16; 8; 32; 500; 2140000000; 1" />
    <add key="multiLong" value="16; 8; 32; 500; 9223372036854775806; 1" />
    <add key="multiDouble" value="23.99; 100.514; 867.5309; 0" />
    <add key="multiGuid" value="{351C24E4-9029-4F86-9F19-CC0629663ED5}; {2883FFBE-8C3C-451F-8C58-794307F9D5BF}; {5D9950ED-079F-4853-9736-35D6C417069B}" />
    <add key="multiDateTime" value="2010-01-01 5:00:00am; 2016-11-30 6:30:00pm; 1999-12-31 11:59:59pm" />
    <add key="multiBool" value="true; false; false; true" />

    <!-- Multi-Value Settings of Same Type with Alternate Delimeter -->
    <add key="multiStringAltDelimeter" value="Apple, Banana, Carrot, Dish Soap" />
    <add key="multiIntAltDelimeter" value="16, 8, 32, 500, 2140000000, 1" />
    <add key="multiLongAltDelimeter" value="16, 8, 32, 500, 9223372036854775806, 1" />
    <add key="multiDoubleAltDelimeter" value="23.99, 100.514, 867.5309, 0" />
    <add key="multiGuidAltDelimeter" value="{351C24E4-9029-4F86-9F19-CC0629663ED5}, {2883FFBE-8C3C-451F-8C58-794307F9D5BF}, {5D9950ED-079F-4853-9736-35D6C417069B}" />
    <add key="multiDateTimeAltDelimeter" value="2010-01-01 5:00:00am, 2016-11-30 6:30:00pm, 1999-12-31 11:59:59pm" />
    <add key="multiBoolAltDelimeter" value="true, false, false, true" />
    
    <!-- Multi-Value Settings of Same Type with Empty Values -->
    <add key="multiIntEmptySegments" value="16; ; 8;;; 32;  ; ; ;; 500 ; 2140000000 ;; 1;;;" />

    <!-- Multi-Value Settings of Same Type with Alternate Delimeter Preserving Whitespace -->
    <add key="multiStringAltDelimeterPreserveWhitespace" value="   Apple   ; Banana;Carrot ;  Dish   Soap  " />
    
    <!-- Complex Object Setting -->
    <add key="complexObject" value="{ 'Name': 'Erik', 'Age': 35, 'EmployedOnDate':'2010-10-04T11:27:00', 'Aliases': ['Enrique', 'Quique', 'Eriko', 'Hey you'], 'Address': { 'HouseNumber': '123A', 'Street': 'Main', 'City': 'New York', 'State': 'NY' } }"/>
  
  </appSettings>
</configuration>